doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Temperature by ZIP code
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css')
        link(rel='stylesheet', href='/main.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="main.js")
    body.container