include header

h1 What's your Zip Code?

form(class='pure-form')
    fieldset
        input(type='number' name='zip' placeholder="12345" autofocus="required")
        input(type='submit' value='Go' class="pure-button pure-button-primary")

include footer
