include _header

h1 Time to Learn about my Culo!

each user in users
	.panel.panel-default
		.panel-heading
			a(href="/users/#{user.username}") #{user.username}
		if user.bio
			.panel-body
				#{user.bio}